@media (max-width: 62em) {
    .resum-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 48em) {

    header {
        height: auto;
    }

    .content h1 {
        font-size: 2.2rem;
    }

    .content h5 {
        font-size: 1.8rem;
    }

    .content p {
        font-size: 1.0rem;
    }

    .call-action {
        width: 100%;
    }

    .info {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 30.625em) {
    .project-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
